.card{
    background-color: rgb(43, 40, 40);
    margin-bottom: 50px;
    
}
.first:hover{
    cursor: pointer;
}

.first{
    width: 80%;
    height: 90%;
    margin-top: 50px;
    /* margin-bottom: 500px; */
    background-color: c_card;
}